.widgetContainer {
  width: 350px;
  height: auto; /* 고정 높이 대신 auto로 변경 */
  max-height: 650px; /* 최대 높이 제한 */
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding: 24px 24px 12px 24px;
}
